<div class="center jumbotron">
<% provide(:title, "Home") %>
<h1>News Crawler</h1>
<h2>
あなたの気になるワードにヒットするニュースを、あなたの代わりに集めてくれるサイトです。
</h2>

<%= link_to "アカウントを作ってみよう！", signup_path, class: "btn btn-lg btn-primary" %>

<%= link_to "テストアカウントでログイン", signup_path, class: "btn btn-lg btn-primary test-login" %>
</div>

<%= link_to image_tag("suikoden.jpg", alt: "Rails logo"),
        'http://rubyonrails.org/' %>