<%= form_for(@keyword) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
      <%= f.text_field :keywords_contents, placeholder: "キーワードを登録してください。" %>
    </div>
    <%= f.submit "登録", class: "btn btn-primary" %>
  <% end %>