<%= render 'shared/keywords_form' %>
<h3>登録済み検索キーワード</h3>
<table  class="table">
        <thead class="thead-dark">
                <tr>
                <th scope="col">キーワード</th>
                <th scope="col">削除</th>
                </tr>
        </thead>
<tbody>
<% if current_user.keywords.any? %>
        <% @keywords.each do |keyword| %>
                <tr>
                        <th scope="row">
                        <%= link_to keyword.name, keyword.name %>
                        </th>
                        <% if current_user?(current_user) %>
                                <td>
                                <%= link_to "X", keyword, method: :delete,data: { confirm: "削除しますか?" } %>
                                </td>
                        <% end %>
                </tr>
        <% end %>
<% end %>
</tbody>
</table>