<li id="news-<%= news.id %>">
  <span class="user"><%= news.title%></span>
  <span class="content"><%= news.content %></span>
  <span class="timestamp">
    Delivery <%= news.created_at %>
  </span>
</li>