<% provide(:title, 'News') %>
<div class="">
  <aside class="">
    <section class="">
      <h1>
        <% @keyword_topics.each do|title,url| %>
          <p><%= link_to title,url %></p>
          <%= image_tag get_img_url(url), :size => '300x200' %>
          <p><%= get_contents(url) %></p>
        <% end %>
      </h1>
    </section>
  </aside>
</div>