<table  class="table">
        <thead class="thead-dark">
                <tr>
                <th scope="col">キーワード</th>
                <th scope="col">削除</th>
                </tr>
        </thead>
<tbody>
<% if @user.keywords.any? %>
        <% @userkeywords.each do |uk| %>
                <tr>
                        <th scope="row">
                        <%= link_to uk.keywords_contents, uk.keywords_contents %>
                        </th>
                        <% if current_user?(@user) %>
                                <td>
                                <%= link_to "X", uk, method: :delete,data: { confirm: "削除しますか?" } %>
                                </td>
                        <% end %>
                </tr>
        <% end %>
<% end %>
</tbody>
</table>