<% provide(:title, 'All Keyword') %>
<h1>キーワード一覧</h1>
<%= render 'keywords_form' %>
<div class="">
<table  class="table keyword_list">
    <thead class="thead-dark">
        <tr>
            <th scope="col">キーワード</th>
            <th scope="col">削除</th>
        </tr>
    </thead>
<tbody>
<% if own_keywords.any? %>
    <% own_keywords.each do |keyword| %>
        <tr>
            <th scope="row">
            <%= link_to keyword.name, keyword %>
            </th>
            <td>
            <%= link_to "X", keyword, method: :delete,id: "#{keyword.name}-delete"%>
            </td>
        </tr>
    <% end %>
<% end %>
</tbody>
</table>
</div>
